/* Generated for Firefox v97.0 on Windows */
/* Available weights for `Shabnam`: 100, 300, 400, 500, 700 */
@font-face {
     font-family: Shabnam;
     src: url("https://fdn.fontcdn.ir/Fonts/Shabnam/a074a415cfe0e4f57e2ede996a73d0e509c0ea194c9678c7b87c65fb977907e7.woff2") format("woff2");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: Shabnam;
     src: url("https://fdn.fontcdn.ir/Fonts/Shabnam/87cf5dde711a284c1e25dd414d51a571b7c9aedd91b2b96f9d679869f5d65162.woff2") format("woff2");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: Shabnam;
     src: url("https://fdn.fontcdn.ir/Fonts/Shabnam/540d3f4e172bd6b5c70dd06bce57e055ce59270e95ea642b414fe0709faaa085.woff2") format("woff2");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: Shabnam;
     src: url("https://fdn.fontcdn.ir/Fonts/Shabnam/fd5931f57e84baad81cc7243cfc1c83e5ac7f5dd17818d917765063544a54441.woff2") format("woff2");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: Shabnam;
     src: url("https://fdn.fontcdn.ir/Fonts/Shabnam/1ff187f5320ec4527ebb6a71831b88289a6cb18ca33ac34476b96960f0af7282.woff2") format("woff2");
     font-weight: 700;
     font-style: normal;
}
/* Powered by FontServer.ir */
/* Page-generation Time: 0.002778 s | Memory Usage: 59,224 B */